@import "./variables.scss";
@import url("https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css");

// Search Bar container / styles
.searchBarContainer {
  display: flex;
  justify-content: center;
  padding: 4rem 2rem 2rem;
  margin-top: 6rem;

  & div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $gray;
    border: solid 2px $secondaryColor;
    color: $primaryText;
    border-radius: 4rem;
    padding: 0.8rem 2rem;
    width: 60vw;
    height: 4.5rem;
  }

  & input {
    color: $primaryText;
  }

  & img {
    height: 2.8rem;
    cursor: pointer;
  }
  & i {
    font-size: 2.5rem;
    color: $primaryText;
    cursor: pointer;
  }
}

.searchInput {
  border: none;
  outline: none;
  background: transparent;
  width: 90%;
  padding: 1px 0.5rem 0px 1rem;
  font-family: $themeFont;
  font-size: fontSize("xlarge");
}

::placeholder {
  font-style: italic;
}
