@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");

//Main Colors
$primaryText: #ffffff;
$secondaryText: #495057;
$tertiaryText: #343a40;

$gray: #212529;
$white: #ffffff;
$warningRed: #ba1f33;

$primaryColor: #fc0b4f;
$primaryColorLight: #ff6691;
$secondaryColor: #fc0b4f;
$backgroundColor: #161b2f;

//Theme Font
$themeFont: "Dongle", sans-serif;

//Font sizes
$fontSize: (
  "xxsmall": 9px,
  "xsmall": 10px,
  "small": 13px,
  "medium": 16px,
  "large": 18px,
  "xlarge": 24px,
  "xxlarge": 32px,
);
@function fontSize($name) {
  @return map-get($fontSize, $name);
}
